<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="../assets/css/front.css">
</head>
<body>

<header>
    <nav>
        <a>Jokes</a>
        <a>LOL cats</a>
    </nav>
</header>

<section id="left-sidebar">
    This should go on left
</section>

<section id="content">
    Main content
</section>

<section id="right-sidebar">
    This should go on right
</section>

<footer>
    <nav>
        <a>TOS</a>
        <a>Contact us</a>
        <a>Report user</a>
    </nav>
</footer>

</body>
</html>
